<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.mvmanila.mlface</string>
   <key>ProgramArguments</key>
   <array>
	 <string>/usr/local/share/mlface/osxface.sh</string>
   </array>
   <key>StandardOutPath</key>
   <string>/var/log/mlface.log</string>
   <key>StandardErrorPath</key>
   <string>/var/log/mlface.log</string>
   <key>KeepAlive</key>
   <dict>
	<key>NetworkState</key>
	<true/>
   </dict>
   <key>RunAtLoad</key>
   <true/>
</dict>
</plist>
