[Unit]
Description=Face Recognition Websocket
After=network-online.target

[Service]
User=ccoupe
ExecStart=/usr/local/lib/mlface/mlface.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
